# Virtual Environment
.venv/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# Chroma database
chroma_db/

# SQLite files
*.sqlite3

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
